[user]
    name = Jason Erdmann
    email = jason.erdmann@tradingtechnologies.com
[alias]
    gl = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ol = log --pretty=format:"%C(yellow)%H%Creset%x09%an%x09%Cgreen(%ad)%Creset%x09%s" --date=relative
    fl = log -p --name-only
    br = branch
    co = checkout
    cm = commit
    cp = cherry-pick
    st = status
    rso = remote show origin
    sm = submodule update --init 
    up = !git pull -q && git submodule update -q --init && git remote prune origin && git status
    scrub = !git br --merged | grep -v -e master -e 'release_[0-9]+/current' -e '*' | xargs -n 1 git br -d
    stale = !git br --merged | grep -v -e master -e 'release_[0-9]+/current' -e '*' | xargs -n 1 echo
    peek  = !git br | grep \"$1\" && :
    done  = !git br | grep \"$1\" | xargs -n 1 git br -D && :
[push]
    default = current
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
[gc]
    auto = 0
[git-tt]
    delete-branch = true
    validate-jira-number = true
    include-jira-summary = true
    jira-summary-length = 40
