[user]
	name = Jason Erdmann
	email = jason.erdmann@tradingtechnologies.com
[alias]
    gl = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ol = log --pretty=format:"%C(yellow)%H%Creset%x09%an%x09%Cgreen(%ad)%Creset%x09%s" --date=relative
    fl = log -p --name-only
    br = branch
    co = checkout
    cm = commit
    cp = cherry-pick -n
    st = status
    rso = remote show origin
    sm = submodule update --init 
    up = !git pull -q && git submodule update -q --init && git remote prune origin && git status
    pall = !git co master && git pull -q && git co uat/current && git pull -q && git co release/current && git pull -q && git co develop && git pull -q 
    scrub = !git br --merged | grep -v -e master -e uat/current -e release/current -e develop -e '*' | xargs -n 1 git br -d
    stale = !git br --merged | grep -v -e master -e uat/current -e release/current -e develop -e '*' | xargs -n 1 echo
[push]
	default = simple
[color]
	ui = auto
[core]
    excludesfile = ~/.githome/.gitignore
[gc]
	auto = 0
[git-tt]
    delete-branch = true
    validate-jira-number = true
    include-jira-summary = true
    jira-summary-length = 40
