[user]
	name = Jason Erdmann
	email = jason.erdmann@tradingtechnologies.com
[alias]
    glog = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    br = branch
    co = checkout
    cm = commit
    st = status
    rso = remote show origin
    up = !git pull -q && git submodule -q init && git submodule -q update && git remote prune origin && git status
    pall = !git co master && git pull -q && git co uat/current && git pull -q && git co release/current && git pull -q && git co develop && git pull -q 
[push]
	default = simple
[color]
	ui = auto
[core]
    excludesfile = ~/.githome/.gitignore
